html {
  font-size: 100%;
}
body {
  font-family: Georgia, serif;
  line-height: 1.75;
  margin: 0 15% 0;
  color: floralwhite;
  background-color: rgb(84, 113, 113);
  background-image: url(images/bullseye.png);
  background-position: top center;
  background-attachment: fixed;
  text-align: center;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background-color: rgb(255 255 255 / .25);
  background-image: url(images/blackgoose_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
h1 {
  font: 400 2.5rem "Julius Sans One", Verdana, sans-serif;
  color: #fce922;
  text-shadow: .1em .1em .05em gainsboro;
}
h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: hsl(55, 97%, 56%);
}
dt {
  font-weight: bold;
  color: orange;
}
strong {
  font-style: italic;
}
dt strong {
  color: tomato;
}
#info {
  color: black;
}
#info p {
  font-style: italic;
}
.price {
  font-style: italic;
  color: orange;
}
.label {
  font-variant: small-caps;
  font-style: normal;
}
h1, h2, #info {
  text-align: center;
}
h2 + p {
  text-align: center;
  font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin: 0 15px;
}
li {
  text-align: left;
}
nav {
  text-align: center;
}
footer {
    border-top: 1px solid turquoise;
    text-align: center;
    margin-top: 2em;
}
footer li {
  display: inline
}
footer img {
    width: 40px;
    height: 40px;
}
a:any-link {
    color: aqua;
}
fieldset {
  background-color: rgb(255 255 255 / .10);
}